[submodule "themes/Hugo-Octopress"]
	path = themes/Hugo-Octopress
	url = https://github.com/parsiya/Hugo-Octopress
[submodule "content"]
	path = content
	url = git@github.com:Military-axe/blog_markdown.git
[submodule "public"]
	path = public
	url = git@github.com:Military-axe/Military-axe.github.io.git